nav.global.nav {
  background-color: transparent;
  transition: all 0.28s;
  position: fixed;
  top: 20px;
  width: 100%;
  display: block;

}

.following.bar {
  position: absolute;
  top: 0;
  z-index: 900;
  left: 0%;
  padding: 2em 0em;
  width: 100%;
  font-size: 14px;
  
  .logo {
    float: left;
    width: 35px;
    margin-right: 1em;
    .side {
      width: 35px;
    }
  }

  .item {
    font-size: 14px;
  }

  .dropdown {
    .menu {
      opacity: 1;
    }
  }
}