.ui.message {
	border-radius: 0;
	text-align: center;
	z-index: 10000;
	@extend %shadowInBlack;
	position: fixed;
	width: 100%;
	opacity: 0.7;

	&.fix_in_page {
		z-index: 1 !important;
	}
}

body>.ui.message {
	top: 0;
}
main .ui.message {
	border-radius: $border-radius;
	position: relative;
	text-align: left;
	opacity: 1;
}