<%- if @flag == true %>
	$('#uni>input').val(<%= @uni.id %>);
	$('#uni>.text').html("<%= @uni.name %>");
	$('#uni>.menu.active').removeClass("active selected");
	$('#uni>.menu').append("<div class=\"item active selected\" data-value=\"<%= @uni.id %>\"><%= @uni.name %></div>");
	window.notification.init("大学创建成功！")
<% else %>
$('#createUni').modal("show");
	window.notification.init("信息填写不完整！", "warning");
<% end -%>